@media screen and (max-width: 320px) {
    .baslik{
        color: red;

    }
}
@media screen and (max-width: 320px) {
    .baslik{
        color: red;
        
    }
}
@media screen and (max-width: 320px) {
    .baslik{
        color: red;
        
    }
}

body{
    background-color: black;
}
.header{
    background-color: #FFFFFF;
}
nav {
  color: #FFFFFF;
}
.Focus-frame{
    width: 123.12px;
    height: 16.25px;
    gap: 0px;
    opacity: 0px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.focus-link {
    color: #FFFFFF;
}
.link{
    color: #FFFFFF;
    width: 67px;
    height: 18px;
    gap: 0px;
    opacity: 0px;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
    text-align: left;


}
.menu-focus-frame-nav{
    width: 59px;
    height: 18px;
    font-family: DM Sans;
    font-size: 14px;
    line-height: 18.23px;
    text-align: left;
    color: #FFFFFF;
    display: flex;
    line height: 18.23px;
}
.focus-frame-list {
   
}
.buton {
    
}

.heading-mentor {
font-size: 48px;
font-weight: 500;
line-height: 3;
letter-spacing: -0.04;
text-align: left;
color: #FFFFFF;
padding-left: 100px;

}
.heading-mentor-span {
font-size: 48px;
font-weight: 500;
line-height: 3;
letter-spacing: -0.04;
text-align: left;
color:  #BEA69E;

}

.name-mentor {
font-size: 28px;
font-weight: 500;
line-height: 0;
text-align: center;
color:  #FFFFFF;

}
.experience {
font-size: 14px;
font-weight: 400;
line-height: 1;
letter-spacing: -0.02;
color:  #FFFFFF80;
text-align: center;

}
.mentor-information {
    display: flex;
    gap: 100px;
    list-style-type: none;
    padding-left: 203px;
    
}
/* MOBİLE */
@media screen and (max-width: 320px) {
    .heading-mentor {
        font-size: 28px;
        text-align: left;
        padding-left: 20px;
    }
    .heading-mentor-span {
        font-size: 28px;
    }
    .mentor-information {
        display: inline-block;
        flex-direction: column;
        padding-left: 0;
        
    }
    .section-mentor {
        text-align: center;
        align-items: center;
    }
    .name-mentor {
        font-size: 20px;
    }
    .experience {
        font-size: 12px;
    }
}
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1158px){
.heading-mentor {
    padding-left: 32px;
}
.mentor-information {
    display: flex;
   flex-wrap: wrap;
   text-align: center;
   align-items: center;
   padding-left: 150px;

}
.section-mentor {
    text-align: center;
    align-items: center;
}
}

